<div class="container mt-2" *ngIf="loading">
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center ">
            <div class="spinner-border text-success" style="width: 13rem; height: 13rem;" role="status">
            </div>
        </div>
    </div>
  </div>
  <div class="container mt-5" *ngIf="!loading">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Aprobación -Agenda del dia</h1>
        </div>
    </div>
    <div class="row" *ngIf="!showTable">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="alert alert-secondary" role="alert">
                No existen tareas asignadas
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showTable">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <table datatable [dtOptions]="dtOptions" id="tbTaskList" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Id Tarea</th>
                        <th scope="col">Nombre de la tarea</th>
                        <th scope="col">Proceso</th>
                        <th scope="col">Completar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listadoTareas">
                        <td>{{item.id}}</td>
                        <td>{{item.displayName}}</td>
                        <td>{{"Viablidad Traslado"}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="completarTarea(item.id)"><span> <i class="fa fa-user"></i></span> Procesar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="showDetail" >
          <form novalidate [formGroup]="datosform" >
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label col-xs-">Identificacion</label>
                    <input class="form-control" formControlName="identificacion" type="text" disabled>
                  </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label col-xs-">Nombres</label>
                <input class="form-control" formControlName="nombres" type="text" disabled>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label col-xs-">Apellidos</label>
                    <input class="form-control" formControlName="apellidos" type="text" disabled>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Alias Asesor</label>
                        <input class="form-control" formControlName="aliasAsesor" type="text"  disabled>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Fecha</label>
                        <input class="form-control" formControlName="fecha" type="text" disabled>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Fecha Nacimiento</label>
                        <input class="form-control" formControlName="fechaNacimiento" type="text" disabled>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Regimen</label>
                        <input class="form-control" formControlName="regimen" type="text">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Tiempo Afiliacion</label>
                        <input class="form-control" formControlName="tiempoAfiliacion" type="text">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Sexo</label>
                        <input class="form-control" formControlName="sexo" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Sexo</label>
                        <input class="form-control" formControlName="sexo" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Sexo</label>
                        <input class="form-control" formControlName="sexo" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Respuesta Cliente</label>
                        <input class="form-control" formControlName="respuestaCliente" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Email</label>
                        <input class="form-control" formControlName="email" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Direccion</label>
                              <input class="form-control" formControlName="direccion" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-">Telefono</label>
                        <input class="form-control" formControlName="telefono" type="text" disabled>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12">Salario</label>
                        <input class="form-control" formControlName="Salario" type="text">
                    </div>
                </div>
                
            <div class="container row mt-2 text-center">
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <button class="btn btn-success" (click)="guardarTareas()"><i class="fa fa-save"></i>Guardar</button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <button class="btn btn-secondary" (click)="showDetail = false"><i class="fa fa-ban"></i>Cancelar</button>
              </div>
          </div>
          </form>
        </div>
  
  
    </div>
  </div>
  