
<div class="page-container" >

  <div class="sidebar" *ngIf="mostrarmenu">
    <div class="list-items">

      <a routerLink="/listar-tareas" class="list-item"><i class="material-icons">bookmark</i>Listar Tareas</a>
      <a routerLink="/mis-tareas" class="list-item"><i class="material-icons">bookmark</i>Asignar Tareas</a>
      <a routerLink="/aprobartareas" class="list-item"><i class="material-icons">bookmark</i>Aprobar Tareas</a>
      <a routerLink="/asesorllama" class="list-item"><i class="material-icons">bookmark</i>Llamada Asesor</a>
      <a routerLink="/viabilidad-traslado" class="list-item"><i class="material-icons">bookmark</i>Viablidad Traslado</a>
      <a routerLink="/dobleasesoria" class="list-item"><i class="material-icons">bookmark</i>Doble Asesoría</a>
      <a routerLink="/dar-aconocer" class="list-item"><i class="material-icons">bookmark</i>Dar a Conocer Traslado</a>
      <a routerLink="/asesorar-cliente" class="list-item"><i class="material-icons">bookmark</i>Asesorar Cliente</a>
      <a routerLink="/traslado-electronico" class="list-item"><i class="material-icons">bookmark</i>Traslado Electronico</a>
      <a routerLink="/agendar-visita" class="list-item"><i class="material-icons">bookmark</i>Agendar Visita</a>
      <a routerLink="/traslado-visita" class="list-item"><i class="material-icons">bookmark</i>Traslado Visita</a>
        <div class="container row">
          <button class="btn btn-secondary" (click)="CerrarSession()"><i class="fa fa-ban"></i>Cerrar</button>
        </div>

    </div>
  </div>
  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>



