
<div class="page-container" >

  <div class="sidebar" *ngIf="mostrarmenu">
    <div class="list-items">

      <a routerLink="/listar-tareas" class="list-item"><i class="material-icons">bookmark</i>Listar Tareas</a>
      <a routerLink="/mis-tareas" class="list-item"><i class="material-icons">bookmark</i>Asignar Tareas</a>
      <a routerLink="/aprobartareas" class="list-item"><i class="material-icons">bookmark</i>Aprobar Tareas</a>
      <a routerLink="/asesorllama" class="list-item"><i class="material-icons">bookmark</i>Llamada Asesor</a>
      <a routerLink="/viabilidad-traslado" class="list-item"><i class="material-icons">bookmark</i>Viablidad Traslado</a>

    </div>
  </div>
  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>
</div>



